.invite-detail {
  line-height: 1.5em !important;
  margin-left: 15px !important;
}

.invite-detail-value {
  color: #f6e9e9;
  margin-left: 10px;
}

.inline {
  display: inline;
  margin-right: 20px;
  font-size: 1.05em;
}

.expired-invite-detail-value {
  color: #f6e9e9;
}
