@media only screen and (min-width: 850px) {
  .inviteCard {
    position: relative;
    display: inline-block;
    width: 15vw;
    height: 15vw;
    margin: 0 2vw 10vw 2vw;
  }

  /* .inviteDetail {
  }

  .acceptInviteButton {

  } */
}

@media only screen and (max-width: 850px) {
}
