@media only screen and (min-width: 850px) {
  .title {
    font-size: max(min(7vh, 40px), 30px);
    padding-right: 0;
    text-align: center;
    margin: max(min(15vh, 80px), 30px) auto;
    font-family: "Bangers", cursive;
    letter-spacing: 0.05em;
  }
}

@media only screen and (max-width: 850px) {
  .title {
    font-size: 30px;
    text-align: center;
    margin: 40px auto;
    font-family: "Bangers", cursive;
    letter-spacing: 0.05em;
  }
}
