@media only screen and (min-width: 850px) {
  .top {
    font-size: max(min(6vh, 40px), 30px);
    padding-right: 0;
    text-align: center;
    margin: max(min(10vh, 80px), 30px) auto;
    font-weight: bold;
    /* font-family: "Bangers", cursive;*/
    letter-spacing: 0.02em;
  }
  .user-display-name {
    display: inline-block;
    font-size: max(min(7vh, 40px), 30px);
    letter-spacing: 0.02em;
    padding-right: 0;
    text-align: center;
    margin-top: /* max(min(15vh, 80px), 30px) */ 120px;
    margin-left: 580px;
    font-weight: bold;
  }

  .hometown-info {
    display: inline-block;
    font-size: max(min(3.5vh, 30px), 12px);
    padding: /* min(12px, max(1.5vh, 3px)) 0px */ 10px 2px;
    text-align: center;
    background: #272121;
    border-radius: 60px;
    margin: 30px 45px;
    border: 1.5px solid #272121;
    width: 12vw;
    margin-left: 630px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .hometown-info:hover {
    /* border: 1.5px solid #006ed3; */
    background-color: #1e1919;
    border: 1.5px solid #1e1919;
  }
}

@media only screen and (max-width: 850px) {
  .title {
    font-size: 30px;
    text-align: center;
    margin: 40px auto;
    font-family: "Bangers", cursive;
    letter-spacing: 0.05em;
  }
}
