@media only screen and (min-width: 850px) {
  .display-cities {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .no-cities {
    font-size: 1.5rem;
    margin: 10vh 10vw 0vh 10vw;
  }
}
