.createdInvite-functionality {
  width: 50%;
  margin: 20px auto 0px auto;
}

.change-invitees {
  font-size: 1.1em;
  color: #f6e9e9;
  margin-right: 20px;
}

button.ant-btn.ant-btn-circle {
  font-size: 15px !important;
  margin-right: 5px !important;
  min-width: 40px !important;
  min-height: 40px !important;
  background-color: #272121;
  border: 2px solid black;
}

button.ant-btn.ant-btn-circle:hover {
  /* background-color: #272121; */
  border: 2px solid #e78455;
  color: #f6e9e9;
}

button.ant-btn.ant-btn-circle:focus,
button.ant-btn.ant-btn-circle:active {
  color: #f6e9e9 !important;
}
