@media only screen and (min-width: 850px) {
  .header {
    top: 0;
    position: sticky;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    height: 10.3vh;
    max-height: 80px;
    min-height: 40px;
    background-color: #272121;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: max(min(2.76vh, 20px), 12px);
  }
}

@media only screen and (max-width: 850px) {
  .header {
    display: flex;
    justify-content: space-between;
    height: 10.3vh;
    min-height: 40px;
    border-bottom: 1px solid #000000;
    background-color: #272121;
  }
}
