@media only screen and (min-width: 850px) {
  .loginForm {
    width: 500px;
    background-color: #272121;
    border-radius: 30px;
    padding: 20px;
    margin: 0 auto;
    text-align: left;
    margin-top: 18vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  input#email.ant-input,
  span.ant-input-password.ant-input-affix-wrapper {
    border: none !important;
    border-bottom: 1px solid #363333 !important;
    border-radius: 0px;
    padding-left: 5px !important;
  }

  input#email.ant-input:hover,
  input#email.ant-input:focus,
  span.ant-input-password.ant-input-affix-wrapper:hover,
  span.ant-input-password.ant-input-affix-wrapper:focus,
  span.ant-input-password.ant-input-affix-wrapper.ant-input-affix-wrapper-focused {
    border: none !important;
    border-bottom: 1px solid #e78455 !important;
    border-radius: 0px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }

  .registerLink {
    font-size: 0.8rem;
    margin: 10px 0px 0 15px;
    text-decoration: underline;
    text-align: left;
  }

  .registerLink:hover {
    color: #e2b9b9 !important;
    transition: 0.2s;
  }
}

@media only screen and (max-width: 850px) {
  .form {
    width: 300px;
    background-color: #272121;
    border: 2px solid black;
    border-radius: 40px;
    padding: 20px;
    margin: 0 auto;
    text-align: left;
    margin-top: 20vh;
  }
  .form label {
    display: block;
    text-align: left;
    color: #f6e9e9;
    font-size: 1em;
  }
  .form form .text-input {
    overflow: hidden;
    margin-bottom: 0.875em;
  }
  .form form input[type="text"],
  .form form input[type="password"] {
    width: 100%;
    padding: 1em 0 12px;
    padding-left: 0;
    background: none;
    color: #f6e9e9;
    font-size: 1.2em;
    font-weight: 400;
    border: none;
    border-bottom: 1px solid grey;
    /*Some sibling magic happens */
  }
  .form form input[type="text"]:focus + .separator,
  .form form input[type="password"]:focus + .separator {
    transform: scaleX(1) translateY(-2px);
    opacity: 1;
  }
  .form form input[type="submit"] {
    color: #f6e9e9;
    background: #e16428;
    padding: 1em 1em;
    font-size: 1em;
    border: none;
    border-radius: 60px;
  }

  .form-bottom {
    margin-top: 1.25em;
    display: flex;
    justify-content: space-between;
  }

  .registerLink {
    font-size: 0.7rem;
    margin: 10px 0px 0 1px;
    text-decoration: underline;
    text-align: left;
  }

  .registerLink:hover {
    color: #e2b9b9;
    transition: 0.2s;
  }
}
