@media only screen and (min-width: 850px) {
  .login-container {
    display: flex;
    margin: min(15px, max(2vh, 10px)) 25px max(1.9vh, 6px) 0;
  }

  #login-icon {
    margin-left: 0.625vw;
    font-size: min(max(3.2vh, 13px), 24px);
  }
}

@media only screen and (max-width: 850px) {
  .login-container {
    margin: min(15px, max(2vh, 5px)) 25px max(1.9vh, 6px) 10px;
    position: relative;
    padding: min(10px, max(0.5vh, 3px));
  }

  #login-icon {
    margin-left: 0.625vw;
    font-size: min(max(3.2vh, 22px), 24px);
    background-color: transparent;
  }
}
