@media only screen and (min-width: 850px) {
  .menu {
    display: none;
  }
}

@media only screen and (max-width: 850px) {
  #menu-icon {
    font-size: min(max(3.2vh, 22px), 24px);
    color: #f6e9e9;
  }

  #menu-icon:hover {
    color: #e16428;
  }

  .drawer {
    background-color: #272121;
    color: #f6e9e9;
  }

  .drawer-item {
    text-align: center;
  }
}
