@media only screen and (min-width: 850px) {
  .tab {
    position: relative;
    padding: min(10px, max(1.3vh, 3px));
    background: #272121;
    border-radius: 60px;
    transition: 0.2s;
    border: 1px solid #272121;
  }

  .tab:hover::before {
    transform: scale(1.2);
    box-shadow: 0 0 15px #e16428;
    border: 1px solid #e16428;
  }

  .tab:hover {
    color: #e16428;
    box-shadow: 0 0 5px #e16428;
    text-shadow: 0 0 5px #e16428;
    border: 1px solid #e16428;
  }
}

@media only screen and (max-width: 850px) {
  .tab {
    position: relative;
    background: #272121;
    transition: 0.2s;
  }

  .tab:hover {
    color: #e16428;
  }
}
