#logoutDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

#logoutButton {
  background-color: #e16428;
  width: 15vw;
  min-width: 120px;
  height: 8vh;
  font-size: 1.5em;
  border: 2px solid black;
  border-radius: 20px;
}

#logoutButton:hover {
  background-color: #bc4f1a;
}
