* {
  box-sizing: border-box;
  cursor: pointer;
}

body {
  margin: 0;
  background-color: #363333;
  color: #f6e9e9;
  font-family: Roboto, sans-serif;
  min-height: 200px;
  line-height: initial;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #e2b9b9;
  -webkit-box-shadow: 0 0 0px 1000px #272121 inset;
  box-shadow: 0 0 0px 1000px #272121 inset;
  transition: background-color 5000s ease-in-out 0s;
}
