.profile-options-container {
  position: fixed;
  width: 20vw;
  background-color: #272121;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 20px 20px 0 20px;
  margin: 0 auto;
  text-align: left;
  margin-top: 25vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: ease-in-out 0.5s;
}
