@media only screen and (min-width: 850px) {
  .container {
    position: relative;
    display: inline-block;
    width: 25vw;
    height: 25vw;
    margin: 0 2vw 10vw 2vw;
    transition: transform 0.3s;
  }

  .container:hover {
    transform: scale(1.1);
  }

  .city-image {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
  }

  .city-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 20px;
    opacity: 0;
    background-color: rgb(225, 100, 40, 0.5);
  }

  .container:hover > .city-overlay {
    opacity: 1;
  }

  .city-text {
    color: white;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 0.02em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
  }
}

@media only screen and (max-width: 850px) {
  .container {
    position: relative;
    display: block;
    width: 40vw;
    height: 40vw;
    min-width: 300px;
    min-height: 300px;
    margin: 0 auto 100px auto;
    transition: transform 0.3s;
  }

  .container:hover {
    transform: scale(1.1);
  }

  .city-image {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
  }

  .city-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 20px;
    opacity: 0;
    background-color: rgb(225, 100, 40, 0.5);
  }

  .container:hover > .city-overlay {
    opacity: 1;
  }

  .city-text {
    color: white;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 0.02em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
  }
}
