@media only screen and (min-width: 850px) {
  .logo {
    margin-top: max(2.5vh, 10px);
    padding-left: 2vw;
    height: 5.2vh;
    max-height: 35px;
    min-height: 20px;
  }

  .logo-center {
    margin-top: max(2.5vh, 10px);
    height: 5.2vh;
    max-height: 35px;
    min-height: 20px;
  }

  .logo:hover {
    opacity: 0.5;
    transition: 0.2s;
  }

  .logo-center:hover {
    opacity: 0.5;
    transition: 0.2s;
  }
}

@media only screen and (max-width: 850px) {
  .logo {
    margin-left: auto;
    margin-right: auto;
    margin-top: max(2.5vh, 10px);
    height: 5.2vh;
    max-height: 35px;
    min-height: 20px;
  }

  .logo-center {
    margin-top: max(2.5vh, 10px);
    height: 5.2vh;
    max-height: 35px;
    min-height: 20px;
  }

  .logo:hover {
    opacity: 0.5;
    transition: 0.2s;
  }

  .logo-center:hover {
    opacity: 0.5;
    transition: 0.2s;
  }
}
