@media only screen and (min-width: 850px) {
  .inviteForm {
    width: 600px;
    background-color: #272121;
    border: 0px solid black;
    border-radius: 30px;
    padding: 20px;
    margin: 0 auto;
    text-align: left;
    margin-top: 13vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  div.ant-select-selector,
  div.ant-picker,
  div.ant-input-number {
    border: none !important;
    border-bottom: 1px solid #363333 !important;
    margin-left: 5px !important;
  }

  div.ant-select-selector:hover,
  div.ant-picker:hover,
  div.ant-input-number:hover {
    border-bottom: 1px solid #e16428 !important;
  }

  div.ant-picker-focused,
  div.ant-input-number-focused {
    border-bottom: 1px solid #e16428 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }

  button.ant-picker-month-btn:hover,
  button.ant-picker-year-btn:hover,
  button.ant-picker-decade-btn:hover,
  a.ant-picker-today-btn:hover {
    color: #e16428 !important;
  }

  td.ant-picker-cell.ant-picker-cell-in-view.ant-picker-cell-selected
    div.ant-picker-cell-inner {
    background-color: #e16428;
  }

  td.ant-picker-cell.ant-picker-cell-in-view.ant-picker-cell-today
    div.ant-picker-cell-inner::before {
    border-color: #e16428;
  }

  span.ant-input-number-handler.ant-input-number-handler-up:hover
    span.anticon.anticon-up.ant-input-number-handler-up-inner,
  span.ant-input-number-handler.ant-input-number-handler-down:hover
    span.anticon.anticon-down.ant-input-number-handler-down-inner,
  a.ant-picker-today-btn {
    color: #f6e9e9 !important;
  }

  button.ant-btn.ant-btn-primary {
    color: #f6e9e9;
    background: #e16428;
    padding: 1em 1.4em;
    font-size: 1.2em;
    border: none;
    border-radius: 60px;
  }

  button.ant-btn.ant-btn-primary:hover {
    background-color: #bc4f1a;
  }

  .ant-btn {
    height: auto !important;
  }

  .form-bottom {
    margin-top: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

@media only screen and (max-width: 850px) {
  .form {
    width: 300px;
    background-color: #272121;
    border: 2px solid black;
    border-radius: 40px;
    padding: 20px;
    margin: 0 auto;
    text-align: left;
    margin-top: 20vh;
  }
}
