* {
  box-sizing: border-box;
  cursor: pointer;
}

body {
  margin: 0;
  background-color: #363333;
  color: #f6e9e9;
  font-family: Roboto, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 10.3vh;
  min-height: 40px;
  border-bottom: 1px solid #000000;
  background-color: #272121;
}

.header-center {
  display: flex;
  justify-content: center;
  height: 10.3vh;
  min-height: 40px;
  border-bottom: 1px solid #000000;
  background-color: #272121;
}

#menu-icon {
  font-size: min(max(3.2vh, 22px), 24px);
  color: #f6e9e9;
}

#menu-icon:hover {
  color: #e16428;
}

.drawer {
  background-color: #272121;
  color: #f6e9e9;
}

.drawer-item {
  text-align: center;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  margin-top: max(2.5vh, 10px);
  height: 5.2vh;
  max-height: 35px;
  min-height: 20px;
}

.logo-center {
  margin-top: max(2.5vh, 10px);
  height: 5.2vh;
  max-height: 35px;
  min-height: 20px;
}

.logo:hover {
  opacity: 0.5;
  transition: 0.2s;
}

.logo-center:hover {
  opacity: 0.5;
  transition: 0.2s;
}

.tab {
  position: relative;
  background: #272121;
  transition: 0.2s;
}

.tab:hover {
  color: #e16428;
}

.options-container {
  display: none;
}

.option {
  margin-right: 10px;
}

.login-container {
  margin: min(15px, max(2vh, 5px)) 25px max(1.9vh, 6px) 10px;
  position: relative;
  padding: min(10px, max(0.5vh, 3px));
}

.login {
  display: none;
}

.login-hidden {
  display: none;
}

.user {
  display: none;
}

.user-hidden {
  display: none;
}

#login-icon {
  margin-left: 0.625vw;
  font-size: min(max(3.2vh, 22px), 24px);
  background-color: transparent;
}

.hide {
  display: none;
}

.link {
  color: #f6e9e9;
  text-decoration: none;
}

.form {
  width: 300px;
  background-color: #272121;
  border: 2px solid black;
  border-radius: 40px;
  padding: 20px;
  margin: 0 auto;
  text-align: left;
  margin-top: 20vh;
}
.form label {
  display: block;
  text-align: left;
  color: #f6e9e9;
  font-size: 1em;
}
.form form .text-input {
  overflow: hidden;
  margin-bottom: 0.875em;
}
.form form input[type="text"],
.form form input[type="password"] {
  width: 100%;
  padding: 1em 0 12px;
  padding-left: 0;
  background: none;
  color: #f6e9e9;
  font-size: 1.2em;
  font-weight: 400;
  border: none;
  border-bottom: 1px solid grey;
  /*Some sibling magic happens */
}
.form form input[type="text"]:focus + .separator,
.form form input[type="password"]:focus + .separator {
  transform: scaleX(1) translateY(-2px);
  opacity: 1;
}
.form form input[type="submit"] {
  color: #f6e9e9;
  background: #e16428;
  padding: 1em 1em;
  font-size: 1em;
  border: none;
  border-radius: 60px;
}

.separator {
  height: 3px;
  width: 100%;
  background: #e16428;
  display: block;
  transform: scaleX(0) translateY(-2px);
  transform-origin: 50%;
  opacity: 0;
  transition: all 0.15s linear;
}
/** * Form Reset - remove focus highlighting */
* :focus {
  outline-color: transparent;
  outline-style: none;
}

#loginButton {
  margin-right: 5px;
}
#loginButton:hover {
  background-color: #bc4f1a;
}

#signupButton {
  margin-right: 5px;
}
#signupButton:hover {
  background-color: #bc4f1a;
}

.signin {
  font-size: 0.7rem;
  margin: 10px 0px 0 1px;
  text-decoration: underline;
  text-align: left;
}

.signin:hover {
  color: #e2b9b9;
  transition: 0.2s;
}

.form-bottom {
  margin-top: 1.25em;
  display: flex;
  justify-content: space-between;
}

.form-bottom-signin {
  margin-top: 1.25em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-signin {
  /* width: 31.25vw;
  min-width: 400px; */
  width: 300px;
  background-color: #272121;
  border: 2px solid black;
  border-radius: 40px;
  padding: 20px;
  margin: 0 auto;
  text-align: left;
  margin-top: 15vh;
}
.form-signin label {
  display: block;
  text-align: left;
  color: #f6e9e9;
  font-size: 0.8em;
}
.form-signin form .text-input {
  overflow: hidden;
  margin-bottom: 0.6em;
}
.form-signin form input[type="text"],
.form-signin form input[type="password"] {
  width: 100%;
  padding: 0.5em 0 12px;
  padding-left: 0;
  background: none;
  color: #f6e9e9;
  font-size: 1.2em;
  font-weight: 400;
  border: none;
  border-bottom: 1px solid grey;
  /*Some sibling magic happens */
}
.form-signin form input[type="text"]:focus + .separator,
.form-signin form input[type="password"]:focus + .separator {
  transform: scaleX(1) translateY(-2px);
  opacity: 1;
}
.form-signin form input[type="submit"] {
  color: #f6e9e9;
  background: #e16428;
  padding: 1em 1.4em;
  font-size: 1.2em;
  border: none;
  border-radius: 60px;
}

.link {
  color: #f6e9e9;
  text-decoration: none;
}
