* {
  box-sizing: border-box;
  cursor: pointer;
}

body {
  margin: 0;
  background-color: #363333;
  color: #f6e9e9;
  font-family: Roboto, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 10.3vh;
  min-height: 40px;
  border-bottom: 1px solid #000000;
  background-color: #272121;
}

/* .menu {
  display: none;
} */

#menu-icon {
  font-size: min(max(3.2vh, 22px), 24px);
  color: #f6e9e9;
}

#menu-icon:hover {
  color: #e16428;
}

.drawer {
  background-color: #272121;
  color: #f6e9e9;
}

.drawer-item {
  text-align: center;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  margin-top: max(2.5vh, 10px);
  height: 5.2vh;
  max-height: 35px;
  min-height: 20px;
}

.logo:hover {
  opacity: 0.5;
  transition: 0.2s;
}

.tab {
  position: relative;
  background: #272121;
  transition: 0.2s;
}

.tab:hover {
  color: #e16428;
}

.options-container {
  display: none;
}

.options-container-hidden {
  display: none;
}

.option {
  margin-right: 10px;
}

.login-container {
  margin: min(15px, max(2vh, 5px)) 25px max(1.9vh, 6px) 10px;
  position: relative;
  padding: min(10px, max(1.3vh, 3px));
}

.login {
  display: none;
}

.login-hidden {
  display: none;
}

.user {
  display: none;
}

.user-hidden {
  display: none;
}

#login-icon {
  margin-left: 0.625vw;
  font-size: min(max(3.2vh, 22px), 24px);
}
