button.ant-btn.welcome-login.ant-btn-primary {
  color: white;
  background: #e16428 !important;
  padding: 0.5em 1em;
  font-size: 1.5em;
  border: none;
  border-radius: 40px;
  margin-left: 180px !important;
  margin-top: 30px;
}

button.ant-btn.welcome-login.ant-btn-primary:hover {
  background: #006ed3 !important;
}
