* {
  box-sizing: border-box;
  cursor: pointer;
}

body {
  margin: 0;
  background-color: #363333;
  color: white;
  font-family: Roboto, sans-serif;
  min-height: 200px;
  line-height: initial;
  background: url("./img/background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.dark {
  background: url("./img/image.png") no-repeat center center fixed;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #e2b9b9;
  -webkit-box-shadow: 0 0 0px 1000px #272121 inset;
  box-shadow: 0 0 0px 1000px #272121 inset;
  transition: background-color 5000s ease-in-out 0s;
}

:focus {
  outline: none;
}
